<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="$baseurl$" id="blog-title-left-top">ß</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#portfolioModal2" data-toggle="modal"><i class="fa fa-random" id="icon-top"></i></a>
                    <ul class="dropdown-menu"></ul>
                </li>
                <li><a href="$baseurl$/about.html" target="_blank">About</a></li>
                <li><a href="$baseurl$/contact.html" target="_blank">Contact</a></li>

                <li><a href="$baseurl$/archive.html">Archive</a></li>
                $if(mastodon_username)$
                <li><a href="$mastodon_url$" id="roundbutton" target="_blank"><i class="fa fa-mastodon"></i>$mastodon_username$</a></li>
                $endif$
                $if(twitter_username)$
                <li><a href="https://www.twitter.com/$twitter_username$" id="roundbutton" target="_blank"><i class="fa fa-twitter"></i>$twitter_username$</a></li>
                $endif$
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Portfolio Modals -->
<!-- Menu Modals Add New Sa.21.Feb.2015 03:22:25 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right:0px; overflow: hidden;">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h1 class="font-style-inline-small-h1">ß</h1>
                        <hr class="star-primary">
                        <p class="font-style-inline-small">
                            $if(github_username)$
                            <a href="https://www.github.com/$github_username$" target="_blank">
                                <i class="fa fa-github" id="spaceg-social-modal"></i>
                            </a>
                            $endif$
                            $if(mastodon_url)$
                            <a href="$mastodon_url$" target="_blank">
                                <i class="fa fa-mastodon" id="spaceg-social-modal"></i>
                            </a>
                            $endif$
                            $if(twitter_username)$
                            <a href="https://www.twitter.com/$twitter_username$" target="_blank">
                                <i class="fa fa-twitter" id="spaceg-social-modal"></i>
                            </a>
                            $endif$
                            $if(google_username)$
                            <a href="https://plus.google.com/u/0/$google_username$/posts" target="_blank">
                                <i class="fa fa-google-plus" id="spaceg-social-modal"></i>
                            </a> <br>
                            $endif$
                            <li><a href="$baseurl$/">Home</a></li>
                            <li><a href="$baseurl$/about.html">About Me</a></li>
                            <li><a href="$baseurl$/archive.html/">Archive</a></li>
                        </p>

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
